In [115]:
import sqlite3

import multiprocessing

In [116]:
def search (table, keyword, table_name):

  print (table)

  for i in table:
      if i == keyword:
        print (keyword, ' matched in table ', table_name)

In [122]:
def search_query (table_name, sql_query, keywords):

  pool = multiprocessing.Pool ()

  try:

    cursor.execute(sql_query)
  
  except:
    print ('INVALID QUERY')

  table = cursor.fetchall()

  for i in keywords:

    [pool.apply_async (search, args = (k, i, table_name)) for k in table]

In [118]:
DB = 'SQLite_Retrieving_data.db'

In [105]:
sqliteConnection = sqlite3.connect('{DB}'.format (DB=DB))
      
print("Connected to SQLite")

cursor = sqliteConnection.cursor()

cursor.execute("DROP TABLE IF EXISTS GEEK")

cursor.execute("DROP TABLE IF EXISTS GEEKY")
 
table = """ CREATE TABLE GEEK (
            Email VARCHAR(255) NOT NULL,
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25),
            Score INT
        ); """
 
cursor.execute(table)

table1 = """ CREATE TABLE GEEKY (
            Email VARCHAR(255) NOT NULL,
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25)
        ); """
 
cursor.execute(table1)
 
print("Table is Ready")

Connected to SQLite
Table is Ready

In [106]:
cursor.execute ("INSERT INTO GEEK VALUES ('random1@gmail.com', 'Santosh', 'Taaper', 1000)")
cursor.execute ("INSERT INTO GEEK VALUES ('random2@gmail.com', 'Vishwas', 'Taaper', 1000)")

cursor.execute ("INSERT INTO GEEKY VALUES ('random2@gmail.com', 'Gnana', 'Taaper')")
cursor.execute ("INSERT INTO GEEKY VALUES ('random2@gmail.com', 'Vishwas', 'Taaper')")

In [107]:
sql_query = """SELECT name FROM sqlite_master 
WHERE type='table';"""
  
cursor.execute(sql_query)
print("List of tables\n")
      
table_names = cursor.fetchall()

print (table_names)

List of tables

[('GEEK',), ('GEEKY',)]

In [119]:
for i in table_names:

  for j in i:

    sql_query = "SELECT * FROM " + j

    print ('Called ', j)

    search_query (j, sql_query, ['Santosh', 'Vishwas'])

Called  GEEK
Called  GEEKY
('random1@gmail.com', 'Santosh', 'Taaper', 1000)
Santosh  matched in table  GEEK
('random2@gmail.com', 'Vishwas', 'Taaper', 1000)
('random2@gmail.com', 'Gnana', 'Taaper')
('random2@gmail.com', 'Vishwas', 'Taaper')
('random2@gmail.com', 'Gnana', 'Taaper')
('random1@gmail.com', 'Santosh', 'Taaper', 1000)
('random2@gmail.com', 'Vishwas', 'Taaper', 1000)
('random2@gmail.com', 'Vishwas', 'Taaper')
Vishwas  matched in table  GEEK
Vishwas  matched in table  GEEKY

In [123]:
search_query ('GEEK', "SELECT", ['Vishwas'])

Invalid QUERY

In [124]:
if sqliteConnection:
  sqliteConnection.close()
          
print("the sqlite connection is closed")

the sqlite connection is closed