In [174]:
import sqlite3

In [175]:
def search (table_name, table, keyword):

  locs = []
  for itr, i in enumerate(table):
    for j in i:
      if (str(j).lower()) == keyword.lower():
        if (table_name):
          print (keyword, 'matched in table', table_name, 'at row', itr + 1)
          print (i)
          locs.append ({"row":itr + 1, "table_name" : table_name})
        else:
          print (keyword, 'matched in the given query at row', itr + 1)
          locs.append ({"row":itr + 1})
          
  return locs

In [176]:
def search_query (cursor, sql_query, keywords, table_name=None):
  
  dictionary = {}

  try:

    cursor.execute(sql_query)
  
  except:
    print ('INVALID QUERY')

  table = cursor.fetchall()

  for i in keywords:

    res = search (table_name, table, i)
    
    if len (res) != 0:
      dictionary[i] = res
    
  return dictionary

In [177]:
DB = 'chinook.db'

In [178]:
sqliteConnection = sqlite3.connect('{DB}'.format (DB=DB))
      
print("Connected to SQLite")

cursor = sqliteConnection.cursor()
 
print("Table is Ready")

Connected to SQLite
Table is Ready

In [179]:
sql_query = """SELECT name FROM sqlite_master 
WHERE type='table';"""
  
cursor.execute(sql_query)
print("List of tables\n")
      
table_names = cursor.fetchall()

print (table_names)

List of tables

[('albums',), ('sqlite_sequence',), ('artists',), ('customers',), ('employees',), ('genres',), ('invoices',), ('invoice_items',), ('media_types',), ('playlists',), ('playlist_track',), ('tracks',), ('sqlite_stat1',)]

In [180]:
for i in table_names:

  for j in i:

    sql_query = "SELECT * FROM " + j

    res = search_query (cursor, sql_query, ['Action', 'Brian Johnson'], j)
    
    if len (res) != 0:
      print (res)

Action matched in table tracks at row 835
(835, 'Action', 67, 1, 1, None, 220604, 7130830, 0.99)
{'Action': [{'row': 835, 'table_name': 'tracks'}]}

In [181]:
res = search_query (cursor, "SELECT * FROM Tracks LIMIT  10", ['Vishwas'])

In [182]:
if sqliteConnection:
  sqliteConnection.close()
          
print("the sqlite connection is closed")

the sqlite connection is closed